.navigation {
  :global(.ant-menu-item) {
    color: #fff !important;
    --underscore-color: transparent;

    &:before {
      content: '';
      position: absolute;
      bottom: 16px;
      left: 16px;
      width: calc(100% - 32px);
      height: 2px;
      background-color: var(--underscore-color);
      transition: background-color 0.3s ease-in-out;
    }
  }

  :global(.ant-menu-item-selected) {
    background-color: transparent !important;
  }

  :global(.ant-menu-item-selected),
  :global(.ant-menu-item-active) {
    --underscore-color: #fff;
  }

  :global(.ant-menu-overflow-item-rest) {
    display: flex;
    padding-inline: 0;

    :global(.ant-menu-submenu-title) {
      display: flex;
      align-items: center;
      padding-inline: 5px;

      &:hover {
        :global(.anticon) {
          box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.7);
        }
      }
    }

    &:global(.ant-menu-submenu-open) {
      :global(.anticon) {
        box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.7);
      }
    }

    :global(.anticon) {
      font-size: 18px;
      min-width: 18px;
      color: #fff;
      border: 1px solid #ffffff7d;
      border-radius: 15px;
      padding: 3px 7px;
    }
  }
}
