.amountItem {
  :global(.ant-form-item-control-input-content) {
    display: flex;
    align-items: flex-end;

    & > :global(.ant-form-item) {
      margin-block-end: 0;
      flex-grow: 1;
    }
  }
}

.datePicker {
  @media (max-width: 449px) {
    max-width: calc(100% - 50px);

    :global(.ant-picker-datetime-panel-container) {
      width: 100%;
    }

    :global(.ant-picker-panel-layout) {
      width: 100%;
      overflow-x: scroll;
    }
  }
}
