.foldButton {
  position: absolute;
  top: 14px;
  inset-inline-end: -40px;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 101;

  &.folded {
    background-color: #18aa4e;
  }

  svg {
    width: 19px;
    height: 19px;
  }

  @media (max-width: 449px) {
    &.folded {
      opacity: 0.7;
    }
  }

  @media (max-width: 389px) {
    &:not(.folded) {
      top: 3px;
      inset-inline-end: 12px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
}
