* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
}

body {
  min-width: 450px;
}

.blur-loading {
  opacity: 0.5;
  pointer-events: none;
}

.ant-statistic-content-suffix {
  margin-inline-start: 0 !important;
}
